language: node_js
node_js:
- '10'
sudo: false
install:
- npm install --only=dev
- npm ci
before_script:
- node node_modules/eslint/bin/eslint.js .
script:
- node ./edenconfig.js
after_script:
- npm test
deploy:
  provider: npm
  email: alex@edenup.com
  api_key:
    secure: jsNhS4ITjCLLlubkXW4QisLzI8JydMck0P6DO+VPX5MpPd5kgPN+Vi478K3B/IoDbO0dSpd2/QNL22XSGNE6vGwi2m/MJ/jqvKk3wTA6EZSjCK4YfjsQvc7Wo1EVgg+shgn59yYMSqHllpUcQtkbH4N2/zzdcGamY4r3JaEAGPF5gfGH6hukGxQSZ0JiJo7ViStjlXZ1tgAKMAgf3KSp4PWYKJgwKWjXRnEsugQI6z2zjc9M219/d1Pj8SQnhRztFmUST3QdGMulVQ1izJaxxdF/I0fa0n+59oZUH8BZ2shdvkXCG+nMwDIHspUnr28HIaD5vD+Tx6Ez6wOBLehOD8QA1/K0vmEbumnU7PvUSWsvbju3UgjoZfYRudUXceB2WA2J6fgCInnKQ7n1wjRyWN9a4ivZNezEsjXkDEnja7TqrrJoeD67eSLqVldp/yGBgGJEZtZlOvM+ruU4Dyt/zRnXUOtQMsIYErUcdFSNYPO24+Q8tbE6JKCSAIbB4PqOoy0nyTjHnE8ZwUxTayt3yVJwjEF68EsjssyBaMiS4iQ6enXh37msfRd2ZTiFTibIkdcO+iEIf5zf2t0HvNS2EdgcXC4k6RbrQN8TaXV8bCa7EQvRelt/KMEn/boM/d49apK+dYAzwTfuq82/iwB4wjG+gPt0UDKRDwwq9JuYiIc=
  on:
    tags: true
    repo: eden-js/balance
